@font-face {
  font-family: "APL386";
  src: local("APL386"), url('/APL386.ttf'), format('truetype');
}

* {
  box-sizing: border-box;
}

:root {
  --color-background: #000000;
  --color-background-secondary: #222222;
  --color-background-tertiary: #333333;
  --color-text: #ececec;
  --color-text-subtle: #ababab;

  --handlebar-thickness: 1.5rem;
  --top-bar-height: 3rem;
  --context-banner-height: 3rem;
  --action-buttons-bar: 2.4rem;
  --metadata-bar-height: 2.4rem;


  --z-graph: 0;
  --z-mode-menu: 10;
  --z-mode-bar: 20;
  --z-mode-bar-middle-button: 21;
  --z-handle: 30;
  --z-content: 40;
  --z-context-banner: 50;
}

body {
  font-family: "APL386";
  color: var(--color-text);

  padding: 0;
  margin: 0;
  overflow: hidden;

  background-color: var(--color-background);
}