.content_container {
  padding: 8px;
  white-space: pre-wrap;
  overflow: scroll;

  z-index: var(--z-content);
}

.thought_ref {
  cursor: pointer;
  text-decoration: underline;
}

.concept_ref {
  cursor: pointer;
  color: #e0e0e0;
}

strong {
  font-weight: 100
}