.mode_bar_container {
    background-color: var(--color-background-primary);
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-around;
    
    border-bottom: 1px solid white;
}

.big_middle_button{
    z-index: 500;
    height: calc(100% + var(--handlebar-thickness));

    background-color: var(--color-background-secondary);

    border: 1px solid white;
    border-top: none;
}