.mode_bar_container {
    background-color: var(--color-background-primary);
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-around;

    z-index: var(--z-mode-bar);
}

.big_middle_button {
    z-index: var(--z-mode-bar-middle-button);
    height: calc(100% + var(--handlebar-thickness));

    background-color: var(--color-background-secondary);
}