.mode_bar_container {
    background-color: var(--color-background-primary);
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-around;

    z-index: var(--z-mode-bar);
}

.big_middle_button {
    z-index: var(--z-mode-bar-middle-button);
    height: calc(100% + var(--handlebar-thickness));
    aspect-ratio: 1;

    background-color: var(--color-background-secondary);
}

.inbox_button_container {
    position: relative;
    height: 100%;
    width: 100%; /* keep as-is */
}

.notifications_indicator {
    position: absolute; 
    font-weight: bold;
    top: 0.1rem;
    right: 50%;
    transform: translateX(140%);
    font-size: 1.5rem;
    line-height: 1;
    pointer-events: none;
}