.horizontal_scroller_container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    overflow-y: auto;
    text-wrap-mode: nowrap;
    background-color: var(--color-background-primary);
}

.reply_box {
    user-select: none;
    margin: 8px;
    padding: 4px;
    display: inline-block;
    cursor: pointer;
}

.no_replies {
    margin: 8px;
    padding: 4px;
    color: var(--color-text-subtle)
}