.thought_card {
    margin: 4px;
    margin-bottom: 8px;
    border: 2px solid;
    cursor: pointer;
}

.thought_card:hover .title_and_shape {
    background-color: var(--color-background-tertiary);
}

.thought_card:hover .date_and_user{
    background-color: var(--color-background-secondary);
}

.title_and_shape {
    background-color: var(--color-background-secondary);
    font-weight: bold;
    border-bottom: 1px solid var(--color-text-subtle);
    padding: 4px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    min-height: var(--metadata-bar-height);
}

.title {
    word-wrap: break-word;
    max-width: calc(100% - var(--metadata-bar-height));
    text-shadow: 0px 0px 3px black;
    margin: 4px;
}

.shape_icon {
    height: 1.4rem;
}

.shape_icon img {
    height: 100%;
    opacity: 0.75;
}

.date_and_user {
    background-color: var(--color-background-primary);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px;
}

.username {
    font-weight: bold;
}

.date {
    font-style: italic;
    color: var(--color-text-subtle)
}