.thought_viewer_container {
    margin: 2px;
    display: flex;
    flex-direction: column;
    height: calc(100% - var(--context-banner-height) - 4px);
}

.content_container {
    overflow-y: scroll;
    border: 1px solid white;
    flex: 1;
}

.action_buttons_bar {
    height: var(--action-buttons-bar);
    border: 1px solid white;
    border-top: none;
    display: flex;
    justify-content: space-around;

    transition: height 1s ease;
}

.action_buttons_bar_collapsed {
    height: 0;
}

.metadata_bar {
    height: var(--metadata-bar-height);
    display: flex;
    justify-content: space-between;
    background-color: var(--color-background-secondary);

    border: 1px solid white;
    border-top: none;
    padding: 8px;
}

.date {
    color: #aaaaaa;
}

.author {
    font-weight: bold;
    cursor: pointer;
}