.graph_container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.graph_and_content{
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

.header {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 100;
    transition: opacity 3.5s ease;
}

.title {
    font-size: 3rem;
    text-align: center;
}

.hidden {
    opacity: 0;
}

.quip {
    text-align: center;
    white-space: pre-wrap;
    font-size: 0.9rem;
    left: 50%;
    top: 15%;
    max-width: 90vw;
    z-index: 100;
}
