.new-thought-form {
    background-color: var(--black-color-light);
    padding: 8px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    margin: auto;


    .header-and-hint {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        margin-right: 20px;

        .tutorial-button {
            font-size: medium;
            margin: 0;
        }
    }

    h1 {
        margin-top: 0px;
        color: var(--white-color);
    }

    .alert {
        color: var(--primary-color-lighter);
        margin: auto;
    }

    form {
        text-align: center;

        .character-limit-title {
            text-align: left;
            margin-top: 5px;
        }

        .character-limit {
            color: gray;
        }

        .title-input {
            width: 100%;
            background-color: var(--black-color);
            color: white;
            border: 0;
            border-radius: 5px;
            font-size: 1em;
        }

        .content-input {
            width: 100%;
            background-color: var(--black-color);
            color: white;
            border: 0;
            border-radius: 5px;
            font-size: 1em;
            /* height: 400px; */
            min-height: 200px;
            resize: none;
            text-align: left;
        }

        input::placeholder {
            color: var(--white-color);
            opacity: 0.7;
        }

        input:focus {
            outline-color: var(--primary-color);
            outline-style: none;
        }

        .bottom-row-buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
        }

        .button-primary-disabled {
            background-color: var(--black-color-light);
            border-color: var(--black-color);
            cursor: not-allowed;
            transition: all 0.3s ease-in-out;
        }
    }

    a {
        color: var(--secondary-color);
    }

    a:visited {
        color: var(--secondary-color);
    }
}

.search-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 1000;
    overflow: hidden;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    .search-overlay-content {
        overflow-y: auto;
        max-height: 80vh;
    }
}

.search-bar {
    background-color: var(--black-color-light);
    color: var(--white-color);
    border: 0;
    border-radius: 5px;
    font-size: medium;
    padding: 5px;
    width: 100%;
    margin: 10px 2px;
    outline: none;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
}

.search-result-item {
    display: inline-block;
    margin: 5px;
    background-color: var(--black-color-light);
    color: var(--white-color);
    border: 0;
    border-radius: 5px;
    border: 1px solid;
    font-size: medium;
    padding: 5px;
    cursor: pointer;
}

.search-result-item-selected {
    background-color: var(--primary-color-light);
}

.referenced-thought-button {
    cursor: pointer;
    display: block;
    margin: 5px;
    background-color: var(--primary-color-dark);
    color: var(--white-color);
    border: 0;
    border-radius: 5px;
    font-size: medium;
    padding: 5px;
    text-align: left;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

.shake {
    animation: shake 0.5s;
    background-color: red;
}

.thought-reference-row {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    margin-bottom: 2px;

    .referenced-thought {
        display: block;
        margin: 5px;
        background-color: var(--black-color);
        color: var(--white-color);
        border: 1px solid;
        border-radius: 5px;
        font-size: medium;
        padding: 5px;
        text-align: left;
    }

    .ref-row-button {
        /* padding: 0.2rem 0.8rem;
        margin: 0.5rem; */
        margin: 0;

        display: inline-block;
        background-color: rgba(0, 0, 0, 0);
        color: var(--white-color);

        font-size: small;
        font-weight: bold;


        border-radius: 0.5rem;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;

        -webkit-user-select: none;
        /* Safari */
        -ms-user-select: none;
        /* IE 10 and IE 11 */
        user-select: none;
        /* Standard syntax */
    }

    img {
        max-width: 2.3em;
        max-height: 2.3em;
    }
}

.references-num {
    font-size: large;
    font-weight: bold;
    color: var(--primary-color);
}

.references-num-over-limit {
    color: red;
}

.referenced-thought-overlay {
    /* todo.: figure out safari... and top+bottom urlbars. */

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    .text-scroll-container {
        width: 85%;
        height: 100%;
        overflow-y: auto;

        .text-flex-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                white-space: pre-line;
            }
        }

    }
}

.tutorial-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    background-color: rgba(0, 0, 0, 0.95);
    overflow: auto;

    .scroll-view {
        max-width: 600px;
        margin: auto;
        overflow: auto;

        h1 {
            color: var(--primary-color);
            text-align: center;
        }

        h2 {
            color: var(--secondary-color);
        }

        b {
            color: var(--primary-color);
        }
    }
}