/* Used to style common html control elements - import as _ to apply*/
 
input {
    border-radius: 0;
    background-color: var(--color-background-secondary);
    border: 1px solid white;
    min-height: 2rem;
}

textarea {
    resize: none;
    border: 1px solid var(--color-text-subtle);
    border-radius: 0;
    background-color: var(--color-background-secondary);
}

select {
    border-radius: 0;
    background-color: var(--color-background-secondary);
}