.chat-container {
    margin: 5px 5px 5px 5px;
    /* overflow: hidden; */
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 99%;
    /* Resolve this so that it works on safari etc. */


    h1 {
        margin: 0;
        color: var(--primary-color-light);
    }


    .messages-container {
        flex: 1;
        overflow-y: auto;
        margin-bottom: 1rem;
        padding: 10px;
        overflow-wrap: break-word;
    }

    .chat-input-container {
        display: flex;
        align-items: flex-start;
        /* margin: 5px; */


        textarea {
            flex: 5;
            resize: none;
            height: 70px;
            margin-right: 5px;
            word-break: break-word;
            color: var(--white-color);
            background-color: var(--black-color-light);
            border: none;
        }
        textarea:focus{
            outline: none;
        }
    
        .send-button {
            margin: 0;
            padding: 0;
            cursor: pointer;
            height: 100%;

            width: 90px;
        }
    
        button:hover {
            background-color: var(--primary-color-dark);
        }
    }
}