.button-primary {
    font-family: inherit;

    /* background-color: var(--primary-color); */
    background-color: black;
    color: var(--white-color);

    font-size: large;
    font-weight: bold;
    padding: 0.2rem 0.8rem;
    margin: 0.5rem;
    border-left: var(--primary-color-light) 3px solid;
    border-top: var(--primary-color-light) 3px solid;
    border-right: var(--primary-color-dark) 3px solid;
    border-bottom: var(--primary-color-dark) 3px solid;

    cursor: pointer;
    transition: background-color 0.3s;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.button-primary:disabled {
    background-color: var(--primary-color-darker);
    color: var(--primary-color-dark);
}

.button-primary:disabled:hover {
    cursor: not-allowed;
}

.button-secondary {
    font-family: inherit;

    background-color: black;
    color: var(--white-color);

    font-size: large;
    font-weight: bold;
    padding: 0.2rem 0.8rem;
    margin: 0.5rem;
    border-left: var(--secondary-color-light) 2px solid;
    border-top: var(--secondary-color-light) 2px solid;
    border-right: var(--secondary-color-dark) 2px solid;
    border-bottom: var(--secondary-color-dark) 2px solid;

    cursor: pointer;
    transition: background-color 0.3s;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.link-button:link {
    text-decoration: none;
}

.link-button:visited {
    text-decoration: none;
}

.link-button:hover {
    text-decoration: none;
}

.link-button:active {
    text-decoration: none;
}