.profile-viewer-container {
    background-color: rgba(0, 0, 0, 0.95);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border: 1px solid white;

    .profile-viewer-top-row {
        text-align: center;
        font-size: x-large;
        padding: 4px;
        background-color: #111111;
        border-bottom: 1px solid #111111;

        .profile-viewer-id {
            margin-left: 8px;
            color: var(--white-color-dark);
        }

        .profile-viewer-title {
            padding-bottom: 10px;
            cursor: pointer;
        }
    }

    .profile-viewer-content {
        word-break: break-word;
        white-space: pre-wrap;
        flex: 1;
        margin: 6px;
        overflow-y: auto;
    }

    .profile-viewer-content-extended {
        word-break: break-word;
        white-space: pre-wrap;
        flex: 1;
        padding: 6px;
        overflow-y: auto;
        min-height: 80px;
        max-height: 50vh;
    }

    .media-container {
        img {
            max-height: 300px;
        }
    }

    .profile-viewer-botom-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px;
        background-color: #111111;
        border-top: 1px solid #111111;
        flex: 0 0 none;

        .profile-viewer-author {
            padding: 4px;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }


        .profile-viewer-date {
            color: var(--white-color-dark);
        }
    }

    .responses-container {
        border-top: 1px solid #111111;
        /* background-color: aqua; */
        /* todo - here nd overall look into heights and url bars and such... */
        max-height: 16vh;
        overflow: auto;
    }

}

.profile-viewer-controls-container {
    margin-top: 8px;
    display: flex;
    justify-content: end;

    /* background-color: red; */
    margin-left: calc(100% - 150px);

    align-items: end;

    .profile-viewer-controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        /* width: 90px; */
        max-width: 1200px;
        min-width: 45px;
        height: 30px;
        padding: 5px;

        background-color: rgba(0, 0, 0, 0.9);
        border: 1px solid white;

        .profile-viewer-controls-button {
            background-color: transparent;
            border: none;
            cursor: pointer;

            img {
                width: 20px;
                height: 20px;
                color: white;

            }

            color: white;
            width: 25px;
            height: 25px;
        }
    }
}