.list-container{
    padding: 10px;
    margin-bottom: 30px;
    border: 2px solid var(--secondary-color-darker);
    background: linear-gradient(120deg, var(--black-color-light) 0%, var(--black-color) 100%);
    /* max-height: 200px; */

    .thought {
        border-width: 1px;
        border-style: solid;
        background: linear-gradient(240deg, var(--black-color-light) 0%, var(--black-color) 100%);
        background-color: var(--black-color);
        opacity: 0.9;
        margin: 10px;
        padding: 10px;

        .message{
            color: var(--secondary-color);
            font-weight: light;

        }
        .thought-title {
            margin: 15px;
            color: var(--white-color);
            text-align: center;
            font-weight: bold;
        }
    }
    .thought:hover {
        background: var(--black-color-light);
        cursor: pointer;
    }
}