.thought-viewer-container {
  background-color: rgba(0, 0, 0, 0.95);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border: 1px solid white;

    .thought-viewer-top-row {
        display: flex;
        justify-content: space-between;
        align-items: top;
        padding: 4px;
        background-color: #111111;
        border-bottom: 1px solid #e0e0e0;

        .thought-viewer-id {
            margin-left:8px;
            color: var(--white-color-dark);
        }

        .thought-viewer-title {
            padding-bottom: 10px;
        }
    }

    .thought-viewer-content {
        word-break: break-word;
        white-space: pre-wrap;
        flex: 1;
        padding: 6px;
        overflow-y: auto;
        min-height: 80px;
        max-height: 100px;
    }

    .thought-viewer-content-extended{
        word-break: break-word;
        white-space: pre-wrap;
        flex: 1;
        padding: 6px;
        overflow-y: auto;
        min-height: 80px;
        max-height: 50vh;
    }

    .media-container {
      img {
        max-height: 300px;
      }
    }

    .in-text-thought-ref {
        cursor: pointer;
        text-decoration: underline;
      }

      .responses-container {
        padding: 4px;

      }

    .thought-viewer-botom-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px;
        background-color: #111111;
        border-top: 1px solid #e0e0e0;
        flex: 0 0 none;
        .thought-viewer-author {
            padding: 4px;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

    
        .thought-viewer-date {
            color: var(--white-color-dark);
        }
    }

  .responses-container {
    border-top: 1px solid #e0e0e0;
    /* background-color: aqua; */
    /* todo - here nd overall look into heights and url bars and such... */
    max-height: 16vh;
    overflow: auto;
  }

}
.thought-viewer-controls-container {
    margin-top: 8px;
    display: flex;
    justify-content: end;

    align-items: end;

    .thought-viewer-controls {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
      /* width: 90px; */
      max-width: 1200px;
      min-width: 150px;
      height: 30px;
      padding: 5px;

      background-color: rgba(0, 0, 0, 0.9);
      border: 1px solid white;

      .thought-viewer-controls-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        
        img {
          width: 20px;
          height: 20px;
          color: white;

        }
        color: white;
        width: 25px;
        height: 25px;
      }
    }
  }