.overlay {
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  transition: all 0.3s ease-in-out;

  .text-scroll-container {
    overflow-y: auto;

    .text-flex-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        white-space: pre-line;
      }
    }
  }

  button {
    display: block;
  }

  .thought-overlay-button-row {
    display: flex;
    justify-content: center;
    margin: 0;
    button{
      margin-top: 5px;
      margin-bottom: 0;
    }
  }

  h2 {
    margin: 0;
    margin-top: 15px;
  }

  h3 {
    margin: 10px;
  }
}

.overlay-portrait {
  visibility: collapse;

  .text-scroll-container {
    width: 90%;
    height: 100%;
  }

  .thought-overlay-button-row {
    width: 90%;
  }
  /* todo.: figure out safari... and top+bottom urlbars. */
}

.overlay-expanded-portrait {
  visibility: visible;
  width: 100%;
  height: 40vh;
}

.overlay-fullscreen-portrait {
  visibility: visible;
  width: 100%;
  height: 86vh;
}

.overlay-landscape {
  display: inline-block;
  visibility: collapse;
  width: 50%;
  height: 80%;

  .text-scroll-container {
    /* width: 100%; */
    margin: 25px;
    margin-right: 80px;
    height: 100%;
  }

  .thought-overlay-button-row {
    width: 90%;
  }
}

/* todo... */
.overlay-expanded-landscape {
  position: absolute;
  top: 0;
  left: 50%;
  right: 100%;
  bottom: 100%;
  visibility: visible;
  /* width: 100%; */
  /* height: 40vh; */
}

.in-text-thought-ref {
  cursor: pointer;
  /* underline */
  text-decoration: underline;
}



.graph-stage {
  transition: all 0.3s ease-in-out;
}

.graph-bottom-part {
  position: absolute;
  bottom: 0;
}

.stage-container {
  display: flex;
  flex-direction: vertical;
  justify-content: center;
  align-items: center;
}

.graph-ui-button{
  padding: 0;
  background-color: transparent;
  color: transparent;
  border: none;
  position: absolute;
  /* background-color: red; */
  cursor: pointer;
  height: 50px;
  width: 50px;

  img {
    width: 100%;
    height: 100%;
  }
}

.zoom-in-button {
  bottom: 120px;
  right: 10px;
}

.zoom-out-button {
  bottom: 60px;
  right: 10px;
}

.rewind-button {
  bottom: 60px;
  left: 10px;
}

.play-forward-button {
  bottom: 60px;
  left: 70px;
}

.time-shift-label {
  font-size: larger;
  position: absolute;
  bottom: 120px;
  left: 10px;
  color: var(--secondary-color-lighter);
}

.responses-container {
  /* background-color: aqua; */
  /* todo - here nd overall look into heights and url bars and such... */
  height: 27vh;
  overflow: auto;
}

.responses-container-half-screen {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* todo - this is used in createThought preview overlay as well - css refactoring will be necessary soon */
.thought-content {
  word-break: break-word;
}